* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #00dbde;

  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  height: 100vh;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#container {
  width: 60%;
  height: 60%;
  border: 3px solid whitesmoke;
  border-radius: 15px;
}
.container1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}
#location {
  color: aliceblue;
  font-family: sans-serif;
}

#caja2 {
  display: flex;
  align-items: center;
  margin-left: -50px;
}
#caja2 img {
  width: 150px;
}
#temperatura-valor {
  font-size: 30px;
  margin-left: -27px;
}
#temperatura-descripcion {
  font-size: 30px;
}
#caja1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#caja3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#temperaturas {
  margin-top: 30px;
}
.container2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 550px) {
  #container {
    width: 80%;
    height: 80%;
  }
  #caja2 {
    margin-left: -20px;
    width: 100%;
  }
  #temperatura-valor {
    font-size: 20px;
    margin-left: -27px;
  }
  #temperatura-descripcion {
    font-size: 20px;
  }
  #caja1 {
    width: 100%;
    margin-top: -30px;
  }
  #temperaturas h1 {
    font-size: 20px;
  }
  #temperaturas {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  #caja4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  #caja4 h1 {
    font-size: 30px;
  }
}
